node_modules/.bin
node_modules/*/test/
node_modules/*/docs/
node_modules/*/examples/
dist/
*.vsix
.git/
.gitignore
.vscode/
.idea/
coverage/
temp/
tmp/
*.bak
*.log
*.swp
build.sh
*.zip
.DS_Store
Thumbs.db
Desktop.ini
